.path-container {
  background-image: url("./img/searchbox.svg");
  margin: 20px 40px;
}
.opacity {
  opacity: 66%;
}
.search-main-container {
  padding: 10px 0px 40px 32px;
  align-items: center;
}

.mr {
  margin-right: 20px !important;
}

.search {
  width: 100% !important;
  text-decoration: none !important;
}

@media only screen and (max-width: 1200px) {
  .search {
    margin-top: 2rem !important;
    width: 50% !important;
  }
}

@media only screen and (max-width: 600px) {
  .search {
    margin-top: 2rem !important;
    width: 100% !important;
  }
}
