.dashboardMain {
  background-color: #e5eaea !important;
  padding: 5px;
  margin-bottom: 20px !important;
  display: flex;
  font-size: 24px;
  font-weight: bold !important;
}
.dashboardMain :hover {
  cursor: pointer;
}
.dashboard-inner {
  padding: 20px;
}
.viewMoreBtn1 {
  position: absolute !important;
  right: 0;
}

@media (max-width: 450px) {
  .dashboard-inner {
    font-size: 16px !important;
  }
}

@media (max-width: 350px) {
  .dashboard-inner {
    font-size: 14px !important;
  }
}
