.create-account-btn {
  margin-top: 40px !important;
  width: 84% !important;
  height: 68px;
  font-size: 18px !important;
  position: relative;
}

@media (max-width: 600px) {
  .form-heading {
    font-size: 48px !important;
  }
  .login-content {
    font-size: 16px !important;
  }
}
@media (max-width: 300px) {
  .form-heading {
    font-size: 40px !important;
  }
}
@media (max-width: 400px) {
  .login-content {
    font-size: 14px !important;
  }
  .create-account-btn {
    font-size: 14px !important;
  }
}
