.start-up-forgot-pw-text,
.new-pw-text {
  color: #010101;
  opacity: 75%;
}

.start-up-forgot-pw-text {
  margin-bottom: 90px !important;
}

.new-pw-text {
  margin-bottom: 60px !important;
}

.start-up-forgot-pw-input,
.new-pw-input {
  height: 72px;
  padding: 15px;
  margin-bottom: 20px;
}

.start-up-forgot-pw-btn {
  height: 72px;
}

.start-up-forgot-pw-heading {
  margin-top: 10px !important;
  letter-spacing: 1px;
}

.start-up-forgot-pw-arrow-icon {
  position: absolute;
  font-size: 40px !important;
  right: 1rem;
  bottom: 1rem;
}

@media (max-width: 600px) {
  .start-up-forgot-pw-heading {
    font-size: 45px !important;
  }
  .start-up-forgot-pw-text {
    font-size: 14px !important;
  }
}

@media (max-width: 460px) {
  .start-up-forgot-pw-btn {
    font-size: 12px !important;
  }
  .start-up-forgot-pw-arrow-icon {
    font-size: 30px !important;
    bottom: 1.5rem;
  }
}

@media (max-width: 400px) {
  .new-pw-input {
    font-size: 11px !important;
  }
}
