.navbar-home {
  border-bottom: none !important;
}

.app-bar {
  box-shadow: none !important;
}

.navItems {
  font-size: 16px;
  font-family: sans-serif;
}
.sitelinks-navbar {
  font-family: "medium" !important;
}
.nav-login-btn-text {
  margin-top: auto;
}
.sitelinks-navbar:hover {
  cursor: pointer;
  color: #ff9a33;
}
.nav-login-btn {
  background-color: #ff9a33 !important;
  color: white !important;
  /* width: 100px; */
  border-radius: 1px !important;
  /* height: 50px; */
  font-family: "bold" !important;
  text-transform: none !important;
}

.nav-register-btn {
  background-color: green !important;
  color: white !important;
  /* width: 50%; */
  border-radius: 1px !important;
  height: 50px;
  /* margin-left: -50px!important; */
  font-family: "bold" !important;
  text-transform: none !important;
}

.logo-navbar {
  width: 18%;
  margin-left: 25px;
}
/* DROPDOWN */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 50px !important;
}

.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #fff;
}

.login-btn:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

.sitelink-Pricing:hover .dropdown-content {
  display: block;
  margin-left: 70px;
}
.sitelink-Pricing:hover {
  cursor: pointer;
}
.nav-login-btn-text {
  margin-top: auto;
}
@media (max-width: 1024px) {
  .navItems {
    font-size: 14px;
    margin-right: 50px !important;
  }
  .nav-login-btn,
  .nav-register-btn {
    height: 40px;
  }
}
@media (max-width: 820px) {
  .sitelinks-navbar {
    font-size: 12px !important;
  }
  .login-btn {
    margin-left: -30px;
  }
  .navItems {
    font-size: 13px;
    margin-right: 30px !important;
  }
}
@media (max-width: 600px) {
  .logo-navbar-drawer {
    width: 75%;
    margin-left: 20px;
    margin: 10px 15px;
  }
  .logo-navbar {
    width: 30%;
    margin-left: 0px;
  }

  .nav-login-btn,
  .nav-register-btn {
    height: 32px;
    width: 75px;
    font-size: 12px !important;
    margin-right: 5px !important;
    font-weight: 500 !important;
  }
}
