.textHeading{
    color: #010101!important;
    font-size: 18px !important;
    font-family: "bold" !important;
    letter-spacing: 0.54px!important;
    opacity: 1!important;
    padding-bottom: 1rem!important;
}
